:host {
  height: 100%;
  display: flex;
  font-family: 'Inter', sans-serif;

}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
  background-color: #FFF0F6;
}

.left-side h1 {
  margin-top: 150px;
  font-size: 48px;
  color: #b32233;
}

.left-side form {
  width: 100%;
  max-width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.left-side form .input-email,
.left-side form .input-senha {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.left-side form button {
  width: 400px;
  padding: 10px;
  background-color: #e8b3b9;
  color: #333; 
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.right-side {
  flex: 2;
  background-image: url('../../../../public/imagem-login.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}