<<section class="funciona-container">

  <h2 class="funciona-title">Como a SIster funciona</h2>
  <p class="funciona-subtitle">
    Descubra como a plataforma Sisters busca dar suporte ao<br />
    projeto Meninas Digitais UNIRIO
  </p>

  <div class="funciona-grid">

    <div class="funciona-item">
      <img src="assets/user.png" class="icon" />
      <h3>Conexão entre usuárias</h3>
      <p>
        Crie uma amizade com outra usuária com interesses em comum aos seus
      </p>
    </div>

    <img src="assets/arrow-red.png" class="arrow" />

    <div class="funciona-item">
      <img src="assets/forum.png" class="icon" />
      <h3>Fórum de dúvidas</h3>
      <p>
        Nosso fórum é dividido em grupos de discussão para você conseguir tirar suas dúvidas
      </p>
    </div>

    <img src="assets/arrow-red.png" class="arrow" />

    <div class="funciona-item">
      <img src="assets/material.png" class="icon" />
      <h3>Materiais acadêmicos</h3>
      <p>
        Publique e tenha acesso a materiais acadêmicos compartilhados por outras usuárias
      </p>
    </div>

  </div>

</section>