<footer class="footer">
  <div class="footer-content">

    <div class="contact-item">
      <i class="fa-brands fa-instagram icon-insta"></i>
      <a href="https://www.instagram.com/meninasdigitais_unirio" target="_blank" class="contact-link">
        <span class="contact-text">&#64;meninasdigitais_unirio</span>
      </a>
    </div>

    <div class="contact-item">
      <i class="fa-regular fa-envelope icon-email"></i>
      <a href="mailto:meninasdigitaisunirio@gmail.com" class="contact-link">
        <span class="contact-text">meninasdigitaisunirio&#64;gmail.com</span>
      </a>
    </div>

  </div>
</footer>
