<header class="header">
  <img src="/assets/logoReal.png" alt="Logo" class="logo" />

  <nav class="menu">
    <a routerLink="/institucional" routerLinkActive="active">Página institucional</a>
    <a routerLink="/noticias" routerLinkActive="active">Notícias</a>
    <a routerLink="/materiais" routerLinkActive="active">Materiais Acadêmicos</a>
    <a routerLink="/forum" routerLinkActive="active">Fórum</a>
    <a routerLink="/mensagens" routerLinkActive="active">Mensagens</a>
  </nav>

  <div class="icons-right">

    <a *ngIf="isAdmin" routerLink="/admin" routerLinkActive="active" class="admin-link">
      <i class="fa-solid fa-lock"></i> Admin
    </a>

    <a routerLink="/notificacoes" class="icon-btn" title="Notificações">
      <i class="fa-regular fa-bell"></i>
    </a>

    <a routerLink="/perfil" class="icon-btn" title="Gerenciar Perfil">
      <i class="fa-regular fa-user"></i>
    </a>
  </div>
</header>
