.footer {
  background: #e4b1b8; 
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  gap: 80px;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 28px;
  height: 28px;
}

span {
  font-size: 14px;
  color: #4a1b1f;
  font-weight: 500;
}