.search-container {
  display: flex;
  gap: 10px;
  padding: 20px;
}

input {
  padding: 8px 12px;
  width: 260px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  background: #d8353c;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}