
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  width: 90%;
  margin: 40px auto;
  padding: 20px;
  font-family: "Inter", Arial, sans-serif;
}

.container h2 {
  color: #4a1b1f;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: left;
}

.card {
  background: #ffffff;
  padding: 18px 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease;
  border: 1px solid #e3e3e3;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card:hover {
  background: #fafafa;
  transform: scale(1.01);
}

.card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #b0000d;
}

.card p {
  font-size: 15px;
  color: #444;
}

.loading,
.no-results {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #444;
}