<app-header></app-header>

<!-- TÍTULO PRINCIPAL -->
<div class="page-banner">
  <div class="banner-content">
    <h1 class="page-title">Mensagens</h1>
  </div>
</div>


<div class="lista-container" *ngIf="temConversas">
  <div
    class="card-conversa"
    *ngFor="let c of conversas"
    (click)="abrirConversa(c.usuaria.idUsuaria)"
  >
    <div class="conversa-left">
      <h3 class="nome-usuaria">{{ c.usuaria.nome }}</h3>

      <p class="ultima-msg" *ngIf="c.ultimaMensagem; else semMensagem">
        {{ c.ultimaMensagem.conteudo }}
      </p>

      <ng-template #semMensagem>
        <p class="ultima-msg vazio">Nenhuma mensagem ainda</p>
      </ng-template>
    </div>

    <div class="conversa-right">
      <span class="horario" *ngIf="c.ultimaMensagem">
        {{ formatarHorario(c.ultimaMensagem.dataEnvio) }}
      </span>
      <button class="btn-abrir-chat">Abrir Chat</button>
      <i class="fa-regular fa-user"></i>
    </div>
  </div>
</div>

<div class="empty-state-container" *ngIf="!temConversas">
    <div class="empty-state-card">
        <i class="fas fa-heart-broken empty-icon"></i>
        <h2>Parece que você ainda não tem amigas!</h2>
        <p>Para enviar mensagens, você precisa se conectar com outras usuárias primeiro.</p>
        <p>Que tal explorar nossa comunidade?</p>
    </div>
</div>
