<section class="md-container">

  <h2 class="md-title">Conheça o Meninas Digitais<br />UNIRIO</h2>

  <div class="md-grid">

    <div class="md-card">
      <div class="number">1</div>
      <h3>Missão</h3>
      <p>
        Promover a integração, o acolhimento e o fortalecimento das mulheres do curso de
        Sistemas de Informação da UNIRIO, oferecendo um ambiente digital seguro,
        colaborativo e inclusivo para troca de experiências, aprendizado e apoio mútuo.
      </p>
    </div>

    <div class="md-card">
      <div class="number">2</div>
      <h3>Visão</h3>
      <p>
        Tornar-se uma plataforma reconhecida dentro da UNIRIO por fortalecer a comunidade
        de alunas de Sistemas de Informação, promovendo apoio, acolhimento e colaboração
        entre estudantes e professoras.
      </p>
    </div>


    <div class="md-card">
      <div class="number">3</div>
      <h3>Iniciativas</h3>
      <p>
        Entre as iniciativas promovidas, estão palestras realizadas na universidade e encontros
        presenciais em formato de rodas de conversa, que favorecem o diálogo aberto, o apoio
        mútuo e o compartilhamento de vivências acadêmicas.
      </p>
    </div>

  </div>
</section>
