<section class="acolhimento">
  <h2 class="titulo">Programa de acolhimento</h2>
  <p class="subtitulo">
    Conheça como funciona o programa de acolhimento entre<br />
    Calouras e Veteranas
  </p>

  <div class="cards">

    <div class="card">
      <img src="./../../../assets/acolhimento-card.png" class="icon">
      <h3>Programa de acolhimento</h3>
      <p>A veterana orienta uma caloura no período de acolhimento</p>
    </div>

    <img src="./../../../assets/arrow-red.png" class="arrow">

    <div class="card">
      <img src="./../../../assets/heart.png" class="icon">
      <h3>Apoio contínuo</h3>
      <p>A veterana apoia a caloura sempre que necessário</p>
    </div>

    <img src="./../../../assets/arrow-red.png" class="arrow">

    <div class="card">
      <img src="./../../../assets/usuarias.png" class="icon">
      <h3>Conexão entre usuárias</h3>
      <p>Crie uma amizade com outra usuária com interesses em comum aos seus</p>
    </div>

  </div>
</section>
