<app-header></app-header>


<div class="chat-container">
  <h2 class="chat-title">{{ usuariaNome }}</h2>

  <div class="mensagens">
    <div *ngFor="let msg of mensagens"
         [ngClass]="{
           'mensagem-logada': msg.remetente.idUsuaria === usuariaLogadaId,
           'mensagem-outra': msg.remetente.idUsuaria !== usuariaLogadaId
         }">
      <p>{{ msg.conteudo }}</p>
      <span class="data-msg">{{ formatarHorario(msg.dataEnvio) }}</span>
    </div>
  </div>

  <form class="nova-msg-form" [formGroup]="novaMensagemForm" (ngSubmit)="enviarMensagem()">
    <input type="text" formControlName="conteudo" placeholder="Digite sua mensagem..." />
    <button type="submit">Enviar</button>
  </form>
</div>