header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #E8B3B9;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 50px; 
}

.nav {
  display: flex;
  align-items: center;
  gap: 50px; 
}

.nav app-search {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

header, .header-left, .nav {
  flex-wrap: nowrap;
}

img.logo {
  height: 55px; 
}