<header>
  <div class="header-left">
    <div class="imagem">
      <img src="assets/LogoMeninasDigitais.png" alt="Logo" class="logo">
    </div>

    <nav class="nav">
      <a>Página institucional</a>
      <a>Notícias</a>
      <a>Materiais Acadêmicos</a>
      <a>Fórum</a>
      <app-search></app-search>
    </nav>
  </div>

  <div class="header-right">
    <button class="login" routerLink="/login">Login</button>
    <button class="register" routerLink="/cadastro">Cadastre-se</button>
  </div>
</header>